/Debug
/x64/Debug
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4
/.vs/Test-Conf/v16
/.vs/conf/v16
/.vs
/Test-Conf/Debug
/Test-Conf/x64/Debug/Test-Conf.tlog
/Test-Conf/x64/Debug/pch.obj
/Test-Conf/x64/Debug/Test-Conf.Build.CppClean.log
/Test-Conf/x64/Debug/Test-Conf.exe.recipe
/Test-Conf/x64/Debug/Test-Conf.log
/Test-Conf/x64/Debug/Test-Conf.pch
/Test-Conf/x64/Debug/Test-Conf.vcxproj.FileListAbsolute.txt
/Test-Conf/x64/Debug/vc142.pdb
/Test-Conf/x64/Debug
